<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.covid_19stats">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".UIClasses.MainLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UIClasses.RegisterActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Resources.RetrieveStatsFromAPI" android:screenOrientation="portrait"/>
        <activity android:name=".UIClasses.MenuActivity" android:screenOrientation="portrait"/>
        <activity android:name=".UIClasses.ShowCountryInfo" android:screenOrientation="portrait"/>
        <activity android:name=".Resources.CheckConnection" android:screenOrientation="portrait"/>
        <activity android:name=".UIClasses.ShowGlobalStats" android:screenOrientation="portrait"/>
        <activity android:name=".UIClasses.ShowGraphs" android:screenOrientation="portrait"/>
        <activity android:name=".UIClasses.ShowCCAAInfo" android:screenOrientation="portrait"/>
        <activity android:name=".Resources.DownloadFileCCAA" android:screenOrientation="portrait"/>
        <activity android:name=".UIClasses.MoreInfoCCAA" android:screenOrientation="portrait"/>
        <activity android:name=".UIClasses.Precautions"/>
        <activity android:name=".UIClasses.SymptomsHelp"/>
    </application>

</manifest>